@import url(reset.css);

// fonts
@font-face {
  font-family: 'atlas-grotesk-med';
  src: url('../fonts/AtlasGrotesk-Medium-Web.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AtlasGrotesk-Medium-Web.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/AtlasGrotesk-Medium-Web.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AtlasGrotesk-Medium-Web.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AtlasGrotesk-Medium-Web.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'atlas-grotesk-reg';
  src: url('../fonts/AtlasGrotesk-Regular-Web.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/AtlasGrotesk-Regular-Web.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AtlasGrotesk-Regular-Web.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AtlasGrotesk-Regular-Web.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// animations

.slideUpFirst {
  animation: slideUpFirst 1300ms ease;
}

@keyframes slideUpFirst {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slideUpSecond {
  animation: slideUpSecond 1300ms ease;
}

@keyframes slideUpSecond {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

// variables
$white: #fff;
$charcoal: #222;
$charcoal-light: #4a4a4a;

// base styles
html {
	height: 100%;
	overflow: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	background: $charcoal;
	color: $white;
	height: 100%;
	font-family: 'atlas-grotesk-reg';
}

section {
	margin: auto;
	display: flex;
}

.container {
	margin: auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.container__definitions {
	max-width: 630px;
}


// typography styles
p {
	font-family: 'atlas-grotesk-reg';
	font-size: 20px;
}

a {
	color: $white;
	border-bottom: 1px solid #ffffff42;
	text-decoration: none;
}

// component styles
.definitions {
	height: 90%;
	h1.text__word {
		font-family: 'atlas-grotesk-med';
		font-size: 45px;
		display: inline;
		padding-top: 15px;
	}
	p {
		&.text__definition {
			font-size: 29px;
			line-height: 40px;
			padding-top: 15px;
		}
		&.text__type {
			display: inline;
   		 	margin-top: 16px;
    		opacity: 0.4;
			padding-left: 13px;
			position: absolute;
		}
		&.text__synonyms {
			padding-top: 35px;
			line-height: 31px;
			span.text__synonyms--title {
				opacity: 0.4;
			}
			a {
				opacity: 0.4;
			}
		}
	}
}

.footer {
	height: 10%;
	width: 100%;
	ul {
		font-size: 13px;
		opacity: 0.5;
		li {
			display: inline;
			padding-right: 15px; 
			position: relative;
			span.text__credits {
				span.text--reveal {
					opacity: 0;
			    left: 20px;
			    position: absolute;
		    	-webkit-transition: left 500ms ease, opacity 200ms ease;
					transition: left 500ms ease, opacity 200ms ease;
					width: 500px;
				}
				&:hover {
					cursor: pointer;
					span.text--reveal {
						opacity: 1;
						left: 60px;
				  	-webkit-transition: left 200ms ease, opacity 500ms ease;
						transition: left 200ms ease, opacity 500ms ease;
					}
				}
			}
		}
		&.footer--left {
			bottom: 30px;
			left: 30px;
			line-height: 22px;
			position: absolute;
			text-align: center;
			right: 30px;
			@media only screen and (min-width: 700px) {
				text-align: left;
			}
		}
		&.footer--right {
			float: right;
			img {
				width: 120px;
			}
		}
	}
}
